$breadcrumb-divider: quote(">");
@import '~bootstrap/scss/bootstrap.scss';


.header {
  background-color: #FFE600;
}
.btn-lupa {
  background-color: #eeeeee;
  border: none;

}
.btn-lupa:hover {
  background-color: #eeeeee;  
}

body{
  background: #eeeeee;
}

.page-container{
  background: #fff;
}

.notBorder{
  border: none;
}

.thumbnail{
  max-width: 180px;
}
.img-detail{
  max-width: 680px;
}

.item-title{
  font-size: 24px;
}

.item-c{
  font-size: 14px;
  color: #666;
  font-weight: 400;
}

.item-price{
  font-size: 46px;
}

.item-shipping{
  margin-bottom: 6px;
  margin-left: .5em;
}

.breadcrumb-item{
  color: #999999 !important;
}

.font-placeholder{
  font-size: 18px;
  color: #999999;
}

.font-description-title{
  font-size: 28px;
  color: #333333;
}

.font-description{
  font-size: 16px;
  color: #666666;
}